.search {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  font-size: 16px;

  input {
    margin-left: 10px;
    box-shadow: 0 2px 0 0 var(--black);

    &:focus {
      outline: 0;
      box-shadow: 0 2px 0 0 var(--martian-red);
    }
  }
}
